@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

button, input{
    font-family: 'Inter', sans-serif;
}

/* Meu Header*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: auto;
}


.frase__logo{
    display: flex;
    align-items: center;
}

.frase__logo p {
    font-size: 18px;
    font-weight: 500;
    color: #3A404E;
}

.menu{
    display: flex;
    
}

.menu a {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #667085;
    padding: 0 16px;
}



.btn__entrar{
    width: 47px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #667085;
    border: none;
    background: none;
}

.btn__cadastrar{
    width: 112px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF; 
    background: #8E2424;
    border: 1px solid #8E2424;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    margin-left: 30px;
}







/* Conteudo Principal */

.conteudo__principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.conteudo__inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 96px 0  24px 0;
    color: #8E2424;
    font-size: 16px;
    font-weight: 600;   
}

.conteudo__destacado{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 48px;    
    padding: 24px 0 36px 0;
    color: #101828; 
}

.conteudo__explicativo {
    width: 791px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    color: #667085;
    margin-bottom: 107px;
}

/*METRICAS */

.metricas{
    display: flex;
    flex-direction: row;
    padding: 0 112px 96px;
    justify-content: space-around;
}

.metricas_numero{
    width: 280px;
    height: 72px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #8E2424;
}

.metricas__titulo{
    width: 280px;
    height: 28px;
    font-size: 18px;
    color: #101828;
    padding-top: 12px;
    font-weight: 500;

}

.metricas__explicacao{
    width: 280px;
    height: 72px;
    font-size: 16px;
    font-weight: 400;
    color: #667085;
    padding-top: 8px;
}

/* vagas */

.container__salarios{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}

.salarios__button--letra{
    font-size: 14px;
    font-weight: 500;
    margin: auto;
    cursor: pointer;
}

.salarios__button--box{
    width: 130px;
    height: 28px;
    padding: 4px 12px;
    border-radius: 16px;
    border: none;
}

.salarios__button--color {
    background:rgba(142, 36, 36, 0.05);
    color: #8E2424;
}

.salarios_aprensentacao--margin{
    margin-top: 16px;
    margin-bottom: 20px;
}

.salarios_aprensentacao--letra{
    font-size: 36px;
    font-weight: 600;
}

.salarios__subtitulo--letra{
    font-weight: 400;
    font-size: 20px;
    color: #667085;
}

.salarios__img--box{
    width: 80%;
    height: 400px;
    margin: auto;
}

.salarios__img--margin{
    margin: 64px auto;
}

/*vagas*/

.container__vagas{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.vagas__titulo {
    font-size: 20px;
    font-weight: 500;
    font-weight: bold;
}

.vagas__titulo--box{
    width: 768px;
    height: 30px;
    margin: 0 auto 32px auto ;
}

.vagas__titulo--margin-top{
    margin-top: 32px;
}

.vagas__informacoes{
    display: flex;
    flex-direction: column;
    align-items: left;  
}

.vagas__informacoes--box{
    width: 768px;   
    height: 136px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    margin: 0 auto 24px auto; 
    gap: 24px;
}

.vagas__subtitulo{
    width: 720px;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    padding: 24px 24px 28px;
    color: #101828;
}

.informacoes{
    display: flex;
    text-align: left;
    padding-left: 24px;
    color: #667085;
    gap: 2rem;
    font-size: 16px;
    font-weight: 500;
}

/* Depoimentos */

.container__depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.container__depoimentos--box{
    width:  70%;
    height: 404px;
    margin: 96px auto ;
    border-radius: 16px;
    background: rgba(196, 25, 25, 0.03);
}

.depoimentos__introducao--letter{
    font-size: 14px;
    font-weight: 600;
    color: #8E2424;
    padding-bottom: 16px;
}

.depoimentos__destaque--letter{
    font-size: 36px;
    font-weight: 500;
    color: #101828;
    letter-spacing: -0.02em;
    text-align: center;
}

.container__depoimentos img {
    width: 56px;
    height: 56px;
    border-radius: 200px;
}

.depoimento__nome {
    font-size: 16px;
    font-weight: 500;
    padding-top: 16px;
    color: #101828;
    padding-bottom: 4px;
}

.depoimento__frase{
    font-size: 14px;
    font-weight: 400;
    color: #667085;
}

/* Footer */

.container__footer--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;   
    background: #F9FAFB;  
    padding-top: 96px; 
}


.footer__destaque--letter {
    font-weight: 600;
    font-size: 36px;
}

.footer__subtitulo--letter{
    font-weight: 400;
    font-size: 20px;
    color: #667085;
}

.footer__text{
    width: 360px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.footer__text--internal{
    font-size: 16px;
    font-weight: 400;
    color: #667085;
    padding: 12px 14px 12px 16px;
}

.footer__btn{
    padding: 12px 20px;
}

.footer__btn--box{
    width: 116px;
    height: 48px;
    background: #8E2424;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    cursor: pointer;
}

.footer__btn--letter{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.copyright--letter{
    font-size: 16px;
    font-weight: 400;
    color: #98A2B3;
    padding-bottom: 90px;
}

/* MEDIA */

@media screen and (max-width: 1175px) { 
    .depoimentos__destaque--letter{
        font-size: 30px;
    }
    .metricas{
        flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 849px) { 
    #btn__mobile{
        display: block;
    }

    #header__menu{
        display: none;
    }
}