@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100%;
}

/* Meu Header*/

.header{
    display: flex;
    justify-content: space-around;
}

.header__logo {
    display: flex;
    background: #FFFFFF;
}

.header__logo img {
    width: 27px;
    height: 26.99px;
    margin: 26.5px 0;
}

.header__logo p {
    padding-left: 8px;
    margin: 28px 0;
    font-size: 18px;
}

.header__itens{
    display: flex;
    padding: 28px;
    font-size: 16px;
    color: rgba(102, 112, 133, 1);
}

.header__menu {
    padding-left: 32px;
}

.header__btns{
    padding: 28px 0 28px 30px;
    font-family: 'Inter', sans-serif;
    

}

.header__entrar{
    width: 47px;
    height: 24px;
    border: none;
    background: #FFFFFF;
    color: rgba(102, 112, 133, 1);  
    font-size: 16px;
}

.header__cadastrar{
    width: 76px;
    height: 24px;
    font-size: 16px;
    color: #FFFFFF;
    background: #8E2424;
    border-color:rgba(142, 36, 36, 1);
    
}